@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-top: 80px;
}

table {
  font-size: 20px;
}

.form {
  width: 70%;
  margin: 0 auto;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  text-decoration: none;
}
